@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Titillium Web", sans-serif;
  outline: none !important;
}

:root {
  --toastify-color-light: #000;
  --toastify-color-dark: #eaeaea;
}

.ProseMirror:focus {
  outline: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #303945;
}

::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
